@import './variables.scss';

.aboutSection {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 6rem;
}

.pic {
    width: 30vw;
    img {
        height: 20rem;
        width: 20rem;
        margin-top: 8rem;
    }
}

// img {
//     // height: 40rem;
//     // width: 60rem;
//     padding: 8rem 4rem;
//     // margin-left: 4rem;
//     // margin-top: 8rem;
// }

.intro-container {
    display: flex;
    justify-content: center;
}

.introSection {
    width: 50%;
    text-align: center;
    padding: 0 2rem;
    // display: flex;
    align-self: center;
}

.introTitle {
    font-family: $font-stack-primary;
    font-size: 3rem;
    background-image: $ap-color-secondary;
    background-clip: text;
    color: transparent;
}

.intro {
    font-family: $font-stack-secondary;
    font-size: large;
    letter-spacing: .4rem;
    width: 50rem;
}

.marquee {
    margin-top: 20rem;
    margin-right: 4rem;
}

.icon {
    font-size: 2rem;
    margin: 0 6rem;
    color: $primary-grey;
}

@media all and (max-width: 1024px) {
    .aboutSection {
        width: auto;
    }

    .intro-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .intro {
        margin-left: -8rem;
        width: 80vw;
    }

    .marquee {
        margin-top: 16rem;
    }
    
}

@media all and (max-width: 480px) {
    img {
        margin-left: -6rem;
        
    }
    .aboutSection {
        flex-direction: column;
        margin-top: -5rem;
    }

    .introSection {
        padding: auto;
        width: 80vw;
    }

    .introTitle {
        font-size: 1.4rem;
    }

    .intro {
        width: 100%;
        margin-left: .5rem;
    }
}