@import './variables.scss';

body {
    // background: $primary-background;
    background: #222;
    margin: 0;
    padding: 0;
    color: $primary-white;
}



@media all and (max-width: 640px) {
    body {
        width: auto;
    }
}