@import '../styles/variables.scss';

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6vh;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 1.3rem 1.3rem 1.3rem rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1rem);
    position: sticky;
    z-index: 100;
    // Nav Border 
    border: 1px solid transparent;
    border-bottom-color: #e1e1e11a;
    border-left-color: #e1e1e180;
    border-right-color: #e1e1e11a;
}

.logo {
    display: flex;
    margin-left: 1rem;
    font-family: $font-stack-secondary;
    font-weight: 200;
    font-size: larger;
    color: $primary-white;
    background-image: $ap-color;
    background-clip: text;
    color: transparent;
}

.nav {
    width: 20vw;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    // color: $primary-grey;
    font-family: 'Lato', sans-serif;
    font-family: "Exo", sans-serif;
    font-optical-sizing: auto;
    // font-weight: 500;
    font-style: normal;
    li {
        padding: 16px;
        color: $primary-grey;
        font-weight: 600;
        font-size: large;
    }

    a {
        text-decoration: none;
        font-weight: 250;
        color: $primary-white;
    }


}

// .active-link {
//     background-image: $ap-color;
    
// }


@media all and (max-width: 1024px) {
    .navbar {
        width: 100vw;
        overflow: scroll;
    }
    .nav {
        margin-right: 11rem;
    }
}


@media all and (max-width: 480px) {
    .navbar {
        width: 100vw;
        overflow: scroll;
    }
    .nav {
        // visibility: hidden;
        font-size: small;
    }
    
}