$primary-background: #14112c;
$ap-color: linear-gradient(90deg, hsl(259, 42%, 39%) 29%, hsl(24, 93%, 73%) 100%);
$ap-color-secondary: #FFA500;
$ap-one: #543a8d;
$ap-two: #faad7a;
$primary-grey: #4a5759;
$primary-text: #9BC4BC;
$primary-white: white;

// FONTS
$font-stack-primary: 'Open Sans', sans-serif;
$font-stack-secondary: 'Exo', sans-serif;

$card-color: linear-gradient(180deg, rgba(13,50,77,1) 0%, rgba(127,90,131,0.9010197829131653) 100%);
$tech-stack-color: whitesmoke;  

// Buttons

$btn-size: 2rem 6rem;